microk8s kubectl apply -f - <<EOF
microk8s kubectl apply -f - <<EOF
apiVersion: v1
kind: Pod
metadata:
  name: cuda-vector-add-new
spec:
  restartPolicy: OnFailure
  containers:
    - name: vector-add
      image: "nvidia/cuda:11.0-base"
      command: ["/bin/bash", "-c", "--"]
      args: ["while true; do sleep 30; done;"]
      resources:
        limits:
          nvidia.com/gpu: 1
EOF